.logo{
	padding: 20px 0px 0px 0px;
}

.content{
 padding: 120px 0px 40px 0px;
}

h2{
    padding: 30px 0px 20px 0px;
    color: #212529;
    font-family: 'Noto Serif', serif;
}

.section{
	border-left: 3px solid red;
	padding: 3px 10px 3px 20px;
	color: #212529;
    font-family: 'Noto Serif', serif;
    margin-bottom: 20px;
   	font-size: 20px;
   	letter-spacing: 1px;
}


p{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.read-more{
	font-style: italic;
	color: red;
	float: right;
	font-weight: 200;
}

.footer{
padding: 100px 0px 20px 0px;
}

.g-images{
	padding: 5px;
	width: 100%;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .card-columns {column-count: 4;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 4;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 5;} 
}

